<% provide(:title, @user.name) %>
<h1>Profile</h1>
<table>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Registered</td>
      <td><%= @user.created_at %></td>
    </tr>
  </tbody>
</table>